@import "tailwindcss";/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #18181b; /* black shade */
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff transparent;
}